<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <%- include('./partials/head.ejs') %>
  </head>
  <body>
    <div class="fish-info-wrapper">
      <div class="fish-name-con">
        <h2 id='commonName'><%= fishData.name %></h2>
        <h4 id='scienceName'><%= fishData.scientificName %></h4>
      </div>
      <nav class='show-page-upper-nav'>
        <a href="/<%=fishData._id%>/edit"/> <button type="button" name="button">Edit</button></a>
        <form action='/<%=fishData._id%>?_method=DELETE' method='POST'>
          <input type="submit" value="Delete">
        </form>
      </nav>
      <div class="fish-info-list">
        <div class="img-description">
          <div class="fish-img-con">
            <img src="<%= fishData.img %>" alt="">
          </div>
          <div class="fish-description-con">
            <p>Description: <%= fishData.description %></p>
          </div>
        </div>
        <div class="right-side">
          <div class="info">
            <div class="animalType-con">
              <p>Animal Type: <%= fishData.animalType %></p>
            </div>
            <div class="fish-quantity-con">
              <p>Have at the aquarium: <%= fishData.number %></p>
            </div>
            <div class="fish-range-con">
              <p>Range: <%= fishData.range %></p>
            </div>
            <div class="fish-size-con">
              <p>Size: <%= fishData.size %></p>
            </div>
            <div class="fish-diet-con">
              <h4 class="diet-heading">Diet:</h4>
              <ul class="diet-list">
                <% for (let j = 0; j < fishData.diet.length; j++) { %>
                  <li><%= fishData.diet[j] %></li>
                <% } %>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>

    <nav class='show-page-bottom-nav'>
      <a href="/"/><button type="button" name="button">Back to Home</button></a>
    </nav>
  </body>
</html>
