<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
      <%- include('../partials/animal_head.ejs') %>
  </head>
  <body>
    <header>
      <%- include('../partials/animal_header.ejs') %>
    </header>

    <div class='animal-form-wrapper'>
      <h1>Edit: <%= animalData.animalName %> </h1>

      <form class="animal-form" action="/animal/<%=animalData._id%>?_method=PUT" method="POST">
        <div class="listen">
          <label for="animalName">Name: </label>
          <input type="text" name="animalName" value="<%=animalData.animalName%>" required/>
        </div>
        <div class="listen">
          <label for="age">Age: </label>
          <input type="text" name="age" value="<%=animalData.age%>" required/>
        </div>
        <div class="listen">
          <label for="species">Species: </label>
          <input type="text" name="species" value="<%=animalData.species%>" required/>
        </div>
        <div class="listen">
          <label for="animalImg">Image: </label>
          <input type="url" name="animalImg" value="<%=animalData.animalImg%>"/>
        </div>
        <button id="animal-form-btn" type="submit" class="btn btn-primary">Submit</button>
      </form>
    </div>
  </body>
</html>
