<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <%- include('../partials/animal_head.ejs') %>
  </head>
  <body>
    <header>
      <%- include('../partials/animal_header.ejs') %>
    </header>

    <div id="create-animal-btn-container" class="container-fluid">
        <a id='create-animal-btn' href="/animal/new"><button class="btn btn-dark mt-2" type="button" name="button">Create New Animal + 1</button></a>
    </div>

    <div id="create-animal-btn-container2" class="container-fluid">
        <a id='create-animal-btn2' href="/animal/new"><button class="btn btn-dark mt-2" type="button" name="button">Create New Animal + 2</button></a>
    </div>


    <div id="animal-index-header" class="container mt-3">
      <h1>Meet Our Animals</h1>
    </div>

    <div class="container">
      <div id="animal-flexbox" class="d-flex flex-wrap p-2 justify-content-around">
        <% for (let i = 0; i < animalData.length; i++) { %>
          <div id="animal-name-container" class="p-3 m-2" style="background-color: white;">
            <a href="/animal/<%=animalData[i]._id%>">
            <div class="animal-name-img-div">
              <img src="<%= animalData[i].animalImg %>" alt="">
              <h3 id='animal-name'><%= animalData[i].animalName %></h3>
            </div>
            </a>
          </div>
        <% } %>
      </div>
    </div>



  </body>
</html>
