<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <%- include('../partials/animal_head.ejs') %>
  </head>
  <body>
    <header>
      <%- include('../partials/animal_header.ejs') %>
    </header>
    <div id="animal-card" class="container">
      <h1 id="animal-show-header">This is <%= animalData.animalName %></h1>
      <div class="profile-pic-img">
          <img src="<%= animalData.animalImg%>" alt="">
      </div>

      <div id="animal-show-text" class="container">
        <h4>Age: <%= animalData.age%> </h4>
        <h4>Species: <%= animalData.species%> </h4>
      </div>



      <div class="show-page-btns">
        <div class="btns-div">
          <a href="/animal/<%=animalData._id%>/edit"/><button id="edit-btn" class="btn btn-light" type="button" name="button">Edit</button></a>
          <form action='/animal/<%=animalData._id%>?_method=DELETE' method='POST'>
            <button id=animal-delete-btn class="btn btn-light" type="submit" name="button">Delete</button>
          </form>
        </div>
      </div>
    </div>

  </body>
</html>
