<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <%- include('../partials/aquarium_head.ejs') %>
  </head>
  <body>
    <header>
      <%- include('../partials/aquarium_header.ejs') %>
    </header>
    <a id='create-button' href="/aquarium/new"> <button type="button" name="button">Add New Species +</button></a>

    <div class="button-2-div">
      <a id="button-2-link" href="/aquarium/new"><button class="button-2" type="button" name="button">Add New Species +</button></a>
    </div>


    <div class="index-flexbox">
      <h1 id="aquarium-index-header">Species at the Aquarium</h1>
      <% for (let i = 0; i < fishData.length; i++) { %>

        <div class="fish-wrapper">

          <a href="/aquarium/<%=fishData[i]._id%>">
          <div class="fish-img-container">
            <img src="<%= fishData[i].img %>" alt="">
          </div>

          <div class="fish-name-header">
            <h3 id='show-name'><%= fishData[i].name %></h3>
          </div>
          </a>

        </div>

      <% } %>
    </div>

  </body>
</html>
