<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <%- include('../partials/aquarium_head.ejs') %>
  </head>
  <body>
    <header>
      <%- include('../partials/aquarium_header.ejs') %>
    </header>
    <div class="fish-info-wrapper">
        <div class="fish-name-con">
          <h2 id='commonName'><%= fishData.name %></h2>
          <h4 id='scienceName'><%= fishData.scientificName %></h4>
        </div>
      <div class="fish-info-list">
        <div class="img-description">
          <div class="fish-img-con">
            <img src="<%= fishData.img %>" alt="">
          </div>
          <div class="fish-description-con">
            <p>Description: <%= fishData.description %></p>
          </div>
        </div>
        <div class="right-side">
          <div class="info">
            <div class="animalType-con">
              <p>Animal Type: <%= fishData.animalType %></p>
            </div>
            <div class="fish-quantity-con">
              <p>Have at the aquarium: <%= fishData.number %></p>
            </div>
            <div class="fish-range-con">
              <p>Range: <%= fishData.range %></p>
              <a href="/map">View Maps</a>
            </div>
            <div class="fish-size-con">
              <p>Size: <%= fishData.size %></p>
            </div>
            <div class="fish-diet-con">
              <h4 class="diet-heading">Diet:</h4>
              <ul class="diet-list">
                <% for (let j = 0; j < fishData.diet.length; j++) { %>
                  <li><%= fishData.diet[j] %></li>
                <% } %>
              </ul>
            </div>
            <div class="animal-list-con">
              <h4 class="animal-heading">Our: <%= fishData.name %>'s</h4>
              <ul class="animal-list">
                <% for (let l = 0; l < animalData.length; l++) { %>
                  <li><%= animalData[l].animalName %></li>
                  <% if ( <%= fishData.name %> === <%= animalData[l].species %> ) { %>
                    <li><%= animalData[l].animalName %></li>
                  <% } %>
                <% } %>
              </ul>
            </div>
          </div>
        </div>
      </div>
      <div class="menu-div">
        <div class="hamburger-lines-div">
          <div id='open' class="hamburger-lines">
            <span class="line"></span>
            <span class="line"></span>
            <span class="line"></span>
          </div>
          <div id='close' class="hamburger-lines">
            <span class="line"></span>
            <span class="line"></span>
            <span class="line"></span>
          </div>
        </div>
        <div id="drop" class="drop-menu">
          <a href="/aquarium/<%=fishData._id%>/edit"/> <button id="edit-btn" type="button" name="button">Edit</button></a>
          <form action='/aquarium/<%=fishData._id%>?_method=DELETE' method='POST'>
            <input id="delete-btn" type="submit" value="Delete">
          </form>
        </div>
      </div>
    </div>
  </body>
</html>

<script>
  $(() => {

    $('#close').hide()
    $('.drop-menu').hide()

    $('#open').click( () => {
      $('#open').hide()
      $('#close').show()
      $('.drop-menu').show()
    })

    $('#close').click( () => {
      $('#close').hide()
      $('#open').show()
      $('.drop-menu').hide()
    })
  });
</script>
