<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <%- include('../partials/aquarium_head.ejs') %>
  </head>
  <body>
    <header>
      <%- include('../partials/aquarium_header.ejs') %>
    </header>
    <div class="fish-info-wrapper">
        <div class="fish-name-con">
          <h2 id='commonName'><%= fishData.name %></h2>
          <h4 id='scienceName'><%= fishData.scientificName %></h4>
        </div>
      <div class="fish-info-list">
        <div class="img-description">
          <div class="fish-img-con">
            <img src="<%= fishData.img %>" alt="">
          </div>
          <div class="fish-description-con">
            <p>Description: <%= fishData.description %></p>
          </div>
        </div>
        <div class="right-side">
          <div class="info">
            <div class="animalType-con">
              <p>Animal Type: <%= fishData.animalType %></p>
            </div>
            <div class="fish-quantity-con">
              <p>Have at the aquarium: <%= fishData.number %></p>
            </div>
            <div class="fish-range-con">
              <p>Range: <%= fishData.range %></p>
            </div>
            <div class="fish-size-con">
              <p>Size: <%= fishData.size %></p>
            </div>
            <div class="fish-diet-con">
              <p class="diet-heading">Diet:</p>
              <ul class="diet-list">
                <% for (let j = 0; j < fishData.diet.length; j++) { %>
                  <li><%= fishData.diet[j] %></li>
                <% } %>
              </ul>
            </div>
            <div class="animal-list-con">
              <p class="animal-heading">At the Aquarium: </p>
              <ul class="animal-list">
                <% for (let l = 0; l < animalData.length; l++) { %>
                  <% if (fishData.name === animalData[l].species) { %>
                    <li>
                      <a href="/animal/<%=animalData[l]._id%>"><%= animalData[l].animalName %></a>
                    </li>
                  <% } %>
                <% } %>
              </ul>
            </div>
          </div>
        </div>
      </div>
      <div class="menu-div1">
        <div class="hamburger-lines-div">
          <div id='open1' class="hamburger-lines">
            <span class="line"></span>
            <span class="line"></span>
            <span class="line"></span>
          </div>
          <div id='close1' class="hamburger-lines">
            <span class="line"></span>
            <span class="line"></span>
            <span class="line"></span>
          </div>
        </div>
        <div id="drop1" class="drop-menu1">
          <a href="/aquarium/<%=fishData._id%>/edit"/> <button id="edit-btn" type="button" name="button">Edit</button></a>
          <form action='/aquarium/<%=fishData._id%>?_method=DELETE' method='POST'>
            <input id="delete-btn" type="submit" value="Delete">
          </form>
        </div>
      </div>
    </div>
  </body>
</html>

<script>
  $(() => {
    $('#close1').hide()
    $('.drop-menu1').hide()

    $('#open1').click( () => {
      $('#open1').hide()
      $('#close1').show()
      $('.drop-menu1').show()
    })

    $('#close1').click( () => {
      $('#close1').hide()
      $('#open1').show()
      $('.drop-menu1').hide()
    })
  });
</script>
